html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    position: relative;
    overflow: hidden;
    image-rendering: pixelated;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
}

.label {
    font-size: 120px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 550px;
}

.panel {
    &-header {
        &-title {}
    }
}